@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: aliceblue;
  color: rgb(86, 84, 98);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

a {
  color: rgb(124, 124, 243);
  text-decoration: none;
  font-weight: bold;
}

.card {
  border: 1px solid white;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.684);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 25px rgba(147, 147, 147, 0.235);
  margin: 20px 0px;
  padding: 20px;
  width: 600px;
}

.home_icon {
  border: 1px solid white;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.684);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 25px rgba(147, 147, 147, 0.235);
  margin: 20px 10px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}

.card_box {
  padding: 20px 10px;
}
